@page "/plugins"
@using Contracts
@inject List<IBlazorPlugin> Plugins

<h3>Plugins</h3>

@if (Plugins.Count == 0)
{
    <p>ยังไม่มีปลั๊กอิน</p>
}
else
{
    @foreach (var p in Plugins)
    {
        if (p.RootComponent is not null)
        {
            <section class="plugin-panel">
                <h4>@p.Name (@p.Version)</h4>
                <DynamicComponent Type="@p.RootComponent" />
            </section>
        }
    }
}
