<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		
    </startup>
	<appSettings>
  <add key="HIPOT_COMPORT" value="COM6" />
  <add key="HIPOT_BAUDRATE" value="19200" />
  <add key="HIPOT_DATABITS" value="8" />
  <add key="HIPOT_PARITYBITS" value="None" />
  <add key="HIPOT_STOPBITS" value="One" />
  <add key="WorkOrder" value="" />
  <add key="Model" value="" />
  <add key="Line" value="" />
  <add key="Station" value="" />
  <add key="Section" value="" />
  <add key="Group" value="" />
  <add key="MESAPI" value="0" />
  <add key="EmployeeID" value="86139510" />
  <add key="Machine_NO" value="136157" />
  <add key="Test_Item" value="HIPOT#1" />
  <add key="D_TestMode" value="7000" />
  <add key="D_HiCurrentLimit" value="7001" />
  <add key="D_LoCurrentLimit" value="7003" />
  <add key="D_Voltage" value="7005" />
  <add key="D_RampTime" value="7007" />
  <add key="D_DwellTime" value="7008" />
  <add key="D_TestTime" value="7009" />
  <add key="D_FallTime" value="7010" />
  <add key="D_OutputCurrent" value="7011" />
  <add key="D_SetUpVoltage" value="7013" />
  <add key="PLC_IpAddress" value="192.168.1.5" />
  <add key="PLC_Port" value="502" />
  <add key="M_StartAddress" value="7000" />
  <add key="D_SerialNumber" value="5030" />
  <add key="SerialNumber_Main_WordLength" value="15" />
  <add key="Scanner_IpAddress" value="127.0.0.1" />
  <add key="Scanner_Port" value="9004" />
  <add key="Host_IpAddress" value="127.0.0.1" />
  <add key="Host_Port" value="9008" />
  <add key="RecordFolderPath" value="DATA_TEST" />
  <add key="EnableGenBarcode" value="1" />
  <add key="ScannerMode" value="1" />
 </appSettings>
</configuration>